<article class="card">
	<div class="card__banner">
		<img class="card__picture" src="{{picture(picture)}}" alt="photo">
	</div>

	<div class="card__profil">
		<span class="card__last-name">{{ lastName }}</span>
		<span class="card__first-name">{{ firstName }}</span>
	</div>

	<i class="card__identifiant">@identifiant</i>

	<div class="card__social-network">
		{% for characteristic in characteristics %}
			{% if characteristic.visible %}
				{% include 'components/social-network.twig' 
					with {
						'network': characteristic.network,
						'link': characteristic.prefix ~ characteristic.url ~ characteristic.value,
						'image': characteristic.image
					}
				%}
			{% endif %}
		{% endfor %}
	</div>

	<p class="card__description">
		{{ description }}
	</p>

	<p class="card__start-year">{{ startYear }}</p>
</article>