<input
        {% if visibility==true %}checked {% endif %}
        class="eye" type="checkbox" name="{{ slug }}" id="{{ slug }}"
>

<label for="{{ slug }}" class='eye__label'>
    <img class="eye__img eye__img--open" src="{{ icon('eye-open.svg') }}" alt="Visible">
    <img class="eye__img eye__img--close" src="{{ icon('eye-close.svg') }}" alt="Non visible">
</label>