<div class="person-family">

	<p class="person-family__title">Parrains</p>

	<div class="person-family__wrapper">

		{% for godFather in godFathers %}
			<div class="person-family__godfather">
				<img src="{{ picture(godFather.picture) }}" alt="{{ godFather.firstName }}" class="person-family__godfather-image">
			</div>
		{% endfor %}

		<div class="person-family__person">
			<img src="{{ picture(person.picture) }}" alt="{{ person.firstName }}" class="person-family__person-image">
		</div>

		{% for godChild in godChildren %}
			<div class="person-family__godchild">
				<img src="{{ picture(godChild.picture) }}" alt="{{ godChild.firstName }}" class="person-family__godchild-image">
			</div>
		{% endfor %}
	</div>

	<p class="person-family__title">Fillots</p>

</div>