<header class="header">

	{% if homePage is null %}
		<a class="header__title" href="{{ router.url('home') }}">
			<img class="header__logo" src="{{ icon('logo-blue.svg') }}" alt="Logo">
			<p>Parraindex</p>
		</a>
	{% endif %}

	<div class="header__login">
		{% if login %}

			<a class="header__login-link" href="{{ router.url('person', {id: login.user.id}) }}">Mon compte</a>
			<a class="header__login-link" href="{{ router.url('editperson_get', {id: login.user.id}) }}">Modifier</a>

			<img class="header__login-picture" src="{{ picture(login.user.picture) }}" alt="photo">

			<a class="header__login-link" href="{{ router.url('logout_get') }}">Déconnexion</a>

		{% else %}
			<a class="header__login-link" href="{{ router.url('login_get') }}">Se connecter</a>
			<a class="header__login-link" href="{{ router.url('signup_get') }}">S'inscrire</a>
		{% endif %}
	</div>

</header>
