<div class="form__element">

	<label class="form__element-label" for="{{ slug }}">{{ title }}</label>

	<input class="form__element-input form__element-input-{{ type }}"
		type="{{ type }}"
		name="{{ slug }}"
		id="{{ slug }}"
		placeholder="{{ placeholder }}"
		{% if pattern is not null%}
			pattern="{{ pattern }}"
		{% endif %}
		required>

</div>
