<div class="form__element">

	<label class="form__element-label" for="{{ slug }}">{{ title }}</label>

	<select class="form__element-input form__element-input-select" name="{{ slug }}" id="{{ slug }}" required>

		{% for option in options %}

			<option class="form__select-option" value="{{ option.id }}">{{ option.title }}</option>

		{% endfor %}

	</select>

</div>
