<div class="form__element">

	<label class="form__element-label" for="{{ slug }}">{{ title }}</label>

	<textarea class="form__element-input form__element-input-textarea"
	          name="{{ slug }}"
	          id="{{ slug }}"
	          placeholder="{{ placeholder }}"
	          required></textarea>

</div>
