{% extends 'layouts/base.html.twig' %}

{% set style = asset('styles/contactAdmin.scss') %}
{% set title = 'Parraindex - Contact' %}

{% block javascripts %}
    {{  importmap(['common', 'popupInitialize', 'contactAdmin']) }}
{% endblock %}

{% block content %}

    <div class="admin">

        <div class="admin__header">
            <h1>Liste des demandes de contact</h1>
{#            <div>#}
{#                <a class="btn btn--primary" href="{{ url('home', {'id': 0}) }}">Ajouter une#}
{#                    personne</a>#}
{#                <a class="btn btn--primary" href="{{ url('home', {'id': 0}) }}">Ajouter un lien</a>#}
{#            </div>#}
        </div>

        <div class="admin__wrapper">
            <div class="admin__filter">
                <h2>Filtres</h2>
                <div class="admin__filter__list">

                    <label for="new">
                        Nouveaux
                        <input type="radio" name="admin_filter" value="all" checked id="new">
                    </label>

                    {% for id, title in typeContact %}
                        <label for="type-{{ id }}">
                            {{ title }}
                            <input type="radio" name="admin_filter" value="{{ id }}" id="type-{{ id }}">
                        </label>
                    {% endfor %}

                    <label for="resolved">
                        Résolus
                        <input type="radio" name="admin_filter" value="resolved" id="resolved">
                    </label>

                </div>
            </div>

            <div class="admin__content">
                <h2 class="admin__counter">
                </h2>

                <div class="admin__contacts">

                    {% for contact in contacts %}

                        <div class="contact type-{{ contact.type.value }} {% if contact.resolutionDate is not null %}resolved{% endif %}">
                            <div class="contact__header">
                                <h3>
                                    {{ contact.type.toString }}
                                </h3>

                                <div class="contact__date">
                                    <p class="contact__date-day">
                                        {{ contact.createdAt | date('d/m/Y') }}
                                    </p>
                                    <p class="contact__date-hour">
                                        {{ contact.createdAt | date('H:i') }}
                                    </p>
                                </div>
                            </div>

                            <div class="contact__author">
                                de
                                <strong>
                                    {{ contact.contacterFirstName }} {{ contact.contacterLastName }}
                                </strong>

                                <a href="mailto:{{ contact.contacterEmail }}">
                                    {{ contact.contacterEmail }}
                                </a>

                            </div>

                            <hr>

                            <div class="contact__other">
                                {% if contact.type.value in [0, 1, 2, 7] %}
                                    <p>
                                        <span class="contact--bold">Prénom :</span>
                                        {{ contact.relatedPersonFirstName }}
                                    </p>
                                    <p>
                                        <span class="contact--bold">Nom :</span>
                                        {{ contact.relatedPersonLastName }}
                                    </p>
                                {% endif %}

                                {% if contact.type.value in [3, 4, 5] %}
                                    <p>
                                        <span class="contact--bold">Parrain :</span>
                                        {{ contact.relatedPersonFirstName }} {{ contact.relatedPersonLastName }}
                                    </p>
                                    <p>
                                        <span class="contact--bold">Fillot :</span>
                                        {{ contact.relatedPerson2FirstName }} {{ contact.relatedPerson2LastName }}
                                    </p>
                                {% endif %}

                                {% if contact.type.value == 9 %}
                                    <p>
                                        <span class="contact--bold">Prénom :</span>
                                        {{ contact.contacterFirstName }}
                                    </p>
                                    <p>
                                        <span class="contact--bold">Nom :</span>
                                        {{ contact.contacterLastName }}
                                    </p>
                                    <p>
                                        <span class="contact--bold">Email :</span>
                                        {{ contact.contacterEmail }}
                                    </p>
                                {% endif %}
                            </div>

                            <p class="contact__message">
                                <span class="contact--bold">
                                    Description :
                                </span>
                                {{ contact.description | raw }}
                            </p>

                            <div class="contact__actions">

                                {% if contact.resolutionDate is null %}

                                    {% if contact.type.value in [0, 1, 2, 3, 4, 5, 7, 9] %}
                                        {% set color = '' %}
                                        {% set action = '' %}

                                        {% if contact.type.value in [0, 3, 9] %}
                                            {% set action = 'Créer' %}
                                            {% set color = 'green' %}
                                        {% elseif contact.type.value in [1, 4, 7] %}
                                            {% set action = 'Éditer' %}
                                            {% set color = 'yellow' %}
                                        {% elseif contact.type.value in [2, 5] %}
                                            {% set action = 'Supprimer' %}
                                            {% set color = 'red' %}
                                        {% endif %}

                                        <a href="{{ url('admin_contact_resolve', {'id': contact.id}) }}"
                                           class="contact__actions-button contact__actions-button--{{ color }}"
                                           methods="post"
                                        >{{ action }}</a>
                                    {% endif %}

                                    <a href="{{ url('admin_contact_delete', {'id': contact.id}) }}"
                                       class="contact__actions-button contact__actions-button--blue"
                                       methods="delete"
                                    >Clore</a>

                                {% else %}

                                    <div class="contact__actions-button contact__actions-button--blue">
                                        Résolu le {{ contact.resolutionDate | date('d/m/Y') }} à {{ contact.resolutionDate | date('H:i') }}
                                    </div>

                                {% endif %}

                            </div>

                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>

    </div>

{% endblock %}
