{% extends 'layouts/base.html.twig' %}

{% set style = asset('styles/app.scss') %}
{% set title = 'Parraindex - Edition personne' %}

{% block javascripts %}
    <script src="{{ asset('scripts/editPerson.js') }}" type="module"></script>
{% endblock %}

{% block content %}

    <form class="edit-person">

        <div class="description">

            <div class="description__biography">
                <h2>BIOGRAPHIE</h2>
                <textarea name="person-bio" id="bio-field"
                          cols="30" rows="10"
                          placeholder="Courte présentation qui apparaîtra sur votre carte"
                >{{ person.biography }}</textarea>
            </div>

            <div class="description__actions">
                <img src="{{ asset('images/icons/chain.svg') }}" class="sync"
                     alt="Synchronisation des champs"
                     title="Synchronise les champs 'Biographie' et 'A propos'"
                >

                <img src="{{ asset('images/icons/reverse.svg') }}" class="invert"
                     alt="Inversion des champs"
                     title="Inverse les champs 'Biographie' et 'A propos'"
                >
            </div>

            <div class="description__about">
                <h2>À PROPOS</h2>
                <textarea name="person-desc" id="about-field"
                          cols="30" rows="10"
                          placeholder="Longue présentation qui apparaîtra sur votre page personnelle"
                >{{ person.description }}</textarea>
            </div>

        </div>

        <div class="public">

            {% include 'components/card.html.twig' with {
                'id': person.id,
                'color': person.color,
                'firstName': person.firstName,
                'lastName': person.lastName,
                'picture': person.picture,
                'characteristics': characteristics,
                'description': person.biography,
                'startYear': person.startYear,
                'mock': true,
            } %}

            <div class="public__personalization">

                <h2>PERSONNALISATION</h2>

                <div class="public__personalization__choice" id="color-field">

                    <label style="background-color : #053259">
                        <input type="radio" name="banner-color" value="#053259">
                    </label>

                    <label style="background-color : #A60303">
                        <input type="radio" name="banner-color" value="#A60303">
                    </label>

                    <label style="background-color : #03A62C">
                        <input type="radio" name="banner-color" value="#03A62C">
                    </label>

                    <label style="background-color : #e0e0e0">
                        <input checked type="radio" name="banner-color" value="#e0e0e0">
                    </label>

                    <label for="color-picker" class="user-color" style="background-color : #e0e0e0">
                        <input type="radio" name="banner-color" value="#e0e0e0" id="radio-color-picker">
                        <input type="color" id="color-picker" value="#e0e0e0">
                    </label>

                </div>

            </div>

        </div>

        <div class="information">

            {% if admin %}
                <div class="information__personal">
                    <h2>PERSONNEL</h2>

                    <div class="information__personal__data">
                        <div>
                            <label for="firstname-field">PRENOM</label>
                            <input type="text" name="person-firstname" id="firstname-field"
                                   value="{{ person.firstName }}">
                        </div>

                        <div>
                            <label for="lastname-field">NOM</label>
                            <input type="text" name="person-lastname" id="lastname-field" value="{{ person.lastName }}">
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="information__contact">
                <h2>CONTACT</h2>

                <div class="information__contact__characteristics" id="contact-field">

                    {% for characteristic in characteristics %}

                        {% set value = null %}

                        {% for userCharacteristic in person.characteristics %}
                            {% if characteristic.title == userCharacteristic.title %}
                                {% set value = userCharacteristic %}
                            {% endif %}
                        {% endfor %}

                        {% include 'components/characteristic.html.twig' with {
                            'title': characteristic.title,
                            'value': value.value,
                            'visibility': value.visible,
                        } %}
                    {% endfor %}

                </div>
            </div>
        </div>

        {{ include('components/modal-picture.html.twig') }}

        <nav class='confirm'>

            <a href="{{ url('person', {id: person.id}) }}" class="confirm__prev">
                <img src="{{ asset('images/icons/up.svg') }}" alt="retour">
            </a>

            <div class="confirm__action">
                {% if admin %}
                    <button class="btn btn--secondary" type="button" id="delete-person">
                        Supprimer
                    </button>
                {% endif %}

                <button class="btn btn--primary" type="submit" id="save-person">
                    Enregistrer
                </button>

                <a id="download-person" href={{ url('home', {id:person.id}) }}>
                    <img src="{{ asset('images/icons/download.svg') }}"
                         alt="Telechargement de toutes les données"
                         title="Télécharge toutes les données relative a cette personne"
                    >
                </a>

            </div>

        </nav>

    </form>

{% endblock %}