{% if person.startYear == null %}
    {% set endYear = '' %}
{% else %}
    {% set endYear = person.startYear + (person.startYear < 2021 ? 2 : 3) %}
{% endif %}

<div class="person-description">

    <div class="person-description__header">
        <p class="person-description__header-name">{{ person.firstName }} <span
                    class="person-description__header--darker">{{ person.lastName }}</span></p>
        <p class="person-description__header-year">{{ person.startYear }} / <span
                    class="person-description__header--darker">{{ endYear }}</span></p>
    </div>

    <div class="person-description__biography">

        <h2 class="person-description__biography-title">Biographie</h2>

        <p>{{ person.description }}</p>

    </div>

    {% if characteristics is not empty %}
        {% include 'components/person/links.twig' with {
            'characteristics': characteristics
        } %}
    {% endif %}

</div>