<a class="about-card" href={{ url }}>

    <img class="about-card__picture" src="{{ asset(picture) }}" alt="{{ firstName }}">

    <div class="about-card__profil">
        <span class="about-card__first-name">{{ firstName }}</span>
        <span class="about-card__last-name">{{ lastName }}</span>
    </div>

</a>