<article class="card" id="{{ id }}">
    <div class="card__banner" style="background-color:{{ color }}">
        <img class="card__picture" src="{{ asset(picture) }}" alt="photo" loading="lazy">
        <img class="card__picture__overlay" src="{{ asset('images/icons/camera.svg') }}" alt="modifier photo" loading="lazy">
    </div>

    <div class="card__profil">
        <span class="card__last-name">{{ lastName }}</span>
        <span class="card__first-name">{{ firstName }}</span>
    </div>

    <div class="card__social-network">
        {% for characteristic in characteristics %}
            {% if characteristic.visible %}
                {% include 'components/social-network.html.twig'
                    with {
                    'link': characteristic.type.url ~ characteristic.value,
                    'image': 'images/icons/' ~ characteristic.type.image
                } %}
            {% endif %}
        {% endfor %}
    </div>

    <p class="card__description">
        {{ description }}
    </p>

    <p class="card__start-year">{{ startYear }}</p>
</article>