<div class="characteristic">
    {% include 'components/eye.html.twig' with {
        'slug': 'characteristic-visibility-' ~ title,
        'visibility': visibility,
    } %}
    <label class="characteristic__title" for="characteristic-{{ title }}"> {{ title }} </label>

    <input class="characteristic__value" type="text" name="characteristic-{{ title }}" id="characteristic-{{ title }}"
           value="{{ value }}">
</div>