{% extends '/layouts/default.twig' %}

{% set style = style('editperson.css') %}
{% set title = 'Parraindex - Edition personne' %}

{% block javascripts %}
	<script src="{{script('editPerson.js')}}" defer></script>
{% endblock %}

{% block content %}

<form class="edit-person" method="{{method}}">

	<div class="description">

		<div class="description__about">

			<h2>A PROPOS</h1>

			<textarea name="person-desc" id="about-field" cols="30" rows="10">{{person.description}}</textarea>
		
		</div>

		<div class="description__biography">

			<h2>BIOGRAPHIE</h1>

			<textarea name="person-bio" id="bio-field" cols="30" rows="10">{{person.biography}}</textarea>

		</div>
	
	</div>

	<div class="public">

		<div class="public__identity">

			<h2>IDENTIFANT</h1>

			<input type="text" name="person-id" id="id-field" value="@{{person.id}}">

		</div>


		{% include 'components/card.twig' with {
			'firstName': person.firstName,
			'lastName': person.lastName,
			'picture': person.picture,
			'characteristics': person.characteristics,
			'description': person.biography,
			'startYear': person.startYear,
			}
		%}

		<div class="public__personalization">

			<h2>PERSONALISATIONS</h2>

			<div class="public__personalization__choice" id="color-field" >

				<label style="background-color : #f0f0f0">
					<input checked type="radio" name="color" value= "#f0f0f0">
				</label>

				<label style="background-color : #132035">
					<input type="radio" name="color"  value= "#132035">
				</label>

				<label style="background-color : #8a8a8a">
					<input type="radio" name="color"  value= "#8a8a8a">
				</label>
			
			</div>

		</div>

	</div>

	<div class="contact">
		<h2>CONTACT</h2>

		<div class="contact__characteristics" id="contact-field">

			{% for characteristic in characteristics %}

				{% set value = "" %}

				{% for userCharacteristic in person.characteristics %}
					{% if characteristic.title == userCharacteristic.title %}
						{% set value = userCharacteristic.value %}
					{% endif %}
				{% endfor %}

				{% include 'components/characteristic.twig' with {
					'title': characteristic.title,
					'value': value,
					}
				%}
			{% endfor %}
		
		</div>
	</div>

	<nav class='confirm'>

		<a href="#">
			<img src="{{icon('up.svg')}}" class="prev" alt="retour">
		</a>

		<button class="btn btn--primary" type="submit">
			Enregistrer
		</button>

	</nav>

</form>

{% endblock %}