{% extends '/layouts/default.twig' %}

{% set style = style('person.css') %}
{% set title = 'Parraindex -  ' ~ person.firstName ~ ' ' ~ person.lastName %}

{% block metadatas %}
    <meta name="description" content="Découvrez le profil de {{ person.firstName }} {{ person.lastName }} sur le Parraindex.">
    <meta name="keywords" content="{{ person.firstName }}, {{ person.lastName }}, généalogie, famille, arbre généalogique">
    
    <meta property="og:type" content="profile">
    <meta property="og:image" content="{{ person.image }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ script("person.js") }}" defer></script>
{% endblock %}

{% block content %}

    <div class="person-content">

        <div class="person-content__description">
            {% include 'components/person/family.twig' with {
                'router': router,
                'person': person,
                'godFathers': godFathers,
                'godChildren': godChildren,
            } %}

            {% include 'components/person/description.twig' with {
                'person': person,
                'characteristics': person.characteristics
            } %}
        </div>

        {% include 'components/person/actions.twig' with {
            'router': router,
            'admin': admin,
            'person': person
        } %}

    </div>


{% endblock %}
